# Исключить папку с виртуальным окружением
venv/
env/
.venv/
.env/

# Исключить файлы и папки, создаваемые редакторами и IDE
.vscode/
.idea/
*.swp

# Исключить файлы и папки, создаваемые системой сборки
__pycache__/
*.pyc
*.pyo

# Исключить файлы конфигурации и выходные данные
*.log
*.pot
*.mo

# Исключить файлы, создаваемые тестовыми инструментами
.coverage
.tox/
.nox/

# Исключить файлы данных
*.sqlite3
*.db
